---
layout: default
---

<section>
    {% capture post_year1 %}{{ date: '%Y' }}{% endcapture %}
    <div>
        <div>
            {% for post in site.posts %}
            {% if post.type == "post" %}
            {% capture post_year2 %}{{ post.date | date: '%Y' }}{% endcapture %}
            {% if post_year1 != post_year2 %}
            {% assign post_year1 = post_year2 %}
        </div>
    </div><!-- //violet-archive -->
    <div class="violet-archive fn-clear archive-div">
        <p class="ui-grid-2 year2">{{ post_year1 }}</p>
        <div class="ui-grid-18 ui-grid-right ui-grid-bottom">
            <article class="top-article fn-clear">
            <div class="ui-grid-6 v-archive-tit">
            {% else %}
            <article class="article fn-clear">
            <div class="ui-grid-6 v-archive-tit">
            {% endif %}
                <p class="ui-date"><span>&#8227;</span><time pubdate="{{ post.date | date: '%b %d, %Y' }}">{{ post.date | date: '%b %d' }}</time></p>
                <h3><a class="ui-title" href="{{ post.url }}">{{ post.title }}</a></h3>
            </div>
            <div class="ui-grid-12 v-archive-det">
                <p class="ui-abstract">{{ post.abstract }}</p>
            </div>
            </article><!-- //archive -->
            <div class="well index-post">
                {{ post.content }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div><!-- //violet-archive -->
    </section><!-- //violet-post -->
