---
layout: default
---
<div class="divinput">
<div class="navbar-inner">
    <div class="container solid-bar">
        <ul class="put-left">
            <span>Bio of Me (<span id='diary_count'>0</span> lines.)</span>
        </ul>
            <script type="text/JavaScript">
                var i = 0;
            {% for post in site.posts %}
            {% if post.type == "diary" %}
                i = i+1;
            {% endif %}
            {% endfor %}
            document.getElementById('diary_count').innerHTML=i;
        </script>
        <ul class="put-right">
            <img src="/image/psu.jpeg" class="ui-img">
        </ul>
    </div>
</div>
</div>
<hr></hr>
<div class="divinput">
<div class="navbar-inner">
    <div class="container auto-bar">
        <div class="ui-whoami">
            My name is Shitao Weng. I'm a graduate student in Sun Yat-sen University, majoring Computer Science and Technology.
            
            I love coding. I have 3 years involving the ACM-ICPC, and got a sixth place in 2013 ACM-ICPC China Nanjing Invitational Programming Contest(one of the Asia regions).

    </div>
    </div>
</div>
</div>
<hr></hr>
<section>
    {% capture post_year1 %}{{ date: '%Y' }}{% endcapture %}
    <div>
        <div>
            {% for post in site.posts %}
            {% if post.type == "diary" %}
            {% capture post_year2 %}{{ post.date | date: '%Y' }}{% endcapture %}
            {% if post_year1 != post_year2 %}
            {% assign post_year1 = post_year2 %}
        </div>
    </div><!-- //violet-archive -->
    <div class="violet-archive fn-clear archive-div">
        <p class="ui-grid-2 year2">{{ post_year1 }}</p>
        <div class="ui-grid-21 ui-grid-right ui-grid-bottom">
            <article class="top-article fn-clear">
            <div class="ui-grid-7 v-archive-tit">
            {% else %}
            <article class="article fn-clear">
            <div class="ui-grid-7 v-archive-tit">
            {% endif %}
                <p class="ui-date"><span>&#8227;</span><time pubdate="{{ post.date | date: '%b %d, %Y' }}">{{ post.date | date: '%b %d' }}</time></p>
                <h3><span class="ui-title">{{ post.title }}</span></h3>
            </div>
            <div class="ui-grid-14 v-archive-det">
                <p class="ui-abstract">{{ post.abstract }}</p>
            </div>
            </article><!-- //archive -->
            {% endif %}
            {% endfor %}
        </div>
    </div><!-- //violet-archive -->
    </section><!-- //violet-post -->


    <hr></hr>
    <div class="well">
    {% include comment.html %}
</div>
