<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="/css/violet.css" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
<script src="/bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
<link href='http://fonts.googleapis.com/css?family=Ruda:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/mystyle.css" type="text/css">
<link rel="stylesheet" href="/css/calendar.css" type="text/css">
<link rel="stylesheet" href="/css/jquery-ui-1.8.18.custom.css" type="text/css" />
<script src="/js/jquery-ui-1.8.18.custom.js"></script>
<script src="/js/myjs.js"></script>
<link media="all" rel="stylesheet" href="/css/syntaxhighlighter/styles/shCore.css" type="text/css" />
<link media="all" rel="stylesheet" href="/css/syntaxhighlighter/styles/shThemeDefault.css" type="text/css" />
<script type="text/javascript" src="/css/syntaxhighlighter/scripts/shCore.js"></script> 
<script type="text/javascript" src="/css/syntaxhighlighter/scripts/shBrushPython.js"></script>
<script type="text/javascript" src="/css/syntaxhighlighter/scripts/shBrushBash.js"></script>
<script type="text/javascript" src="/css/syntaxhighlighter/scripts/shBrushCpp.js"></script>
<script type="text/javascript" src="/css/syntaxhighlighter/scripts/shBrushPowerShell.js"></script>
<script type="text/javascript" src="/css/syntaxhighlighter/scripts/shBrushXml.js"></script>
<script type="text/javascript">
    SyntaxHighlighter.all();
</script> 
