<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav pull-left">
                <h2>wengsht</h2>
                <li><a href="/blog.html">博文</a></li>
                <li><a href="/project.html">项目</a></li>
            </ul>

            <ul class="nav pull-right">
                <li><a href="http://weibo.com/u/1752550681"><img class="little" src="/image/weibo.png" alt="新浪微博"></img></a></li>
                <li><a href="http://github.com/wengsht"><img class="little" src="/image/git.png" alt="github"></img></a></li>
                <li><a href="https://plus.google.com/u/0/"><img class="little" src="/image/g+.png" alt="g+"></img></a></li>
                <li><a href=""><img class="little" src="/image/rss.png" alt="RSS"></img></a></li>
            </ul>
        </div>
    </div>
</div>
