
<div class="navbar navbar-fixed-top transparence">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav pull-left">
                <li><a href="/whoami.html">wengsht</a></li>
                <li><a>|</a></li>
                <li><a href="/index.html">Blog</a></li>
                <li><a href="/blog.html">博文</a></li>
            </ul>

            <ul class="nav pull-right">
                <li><a href="http://weibo.com/u/1752550681"><img src="/image/weibo.png" alt="新浪微博"></img></a></li>
                <li><a href="http://github.com/wengsht"><img src="/image/git.png" alt="github"></img></a></li>
                <li><a href="https://plus.google.com/u/0/"><img src="/image/g+.png" alt="g+"></img></a></li>
                <li><a href=""><img src="/image/rss.png" alt="RSS"></img></a></li>
            </ul>
        </div>
    </div>
</div>
