
<div class="navbar navbar-fixed-top transparence">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav pull-left">
                <li><a href="/whoami.html">About me</a></li>
                <li><a>|</a></li>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/project.html">Project</a></li>
                <li><a href="/blog.html">Archive</a></li>
                <li><a href="/wiki/index.html">Wiki</a></li>
            </ul>

            <ul class="nav pull-right">
                <li><a href="http://weibo.com/u/1752550681"><img src="/image/weibo.png" title="Sina weibo"></img></a></li>
                <li><a href="http://book.douban.com/people/wengsht/"><img src="/image/douban.png" title="Books I read"></img></a></li>
                <li><a href="http://github.com/wengsht"><img src="/image/git.png" title="github"></img></a></li>
                <li><a href="https://plus.google.com/u/0/"><img src="/image/g+.png" title="g+"></img></a></li>
                <li><a href="/feed.xml" target="_blank" rel="nofollow"><img src="/image/rss.png" title="feed"></img></a></li>
            </ul>
        </div>
    </div>
</div>
