<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
        <head>
            {% include header.html %}
        </head>
        <body>
            <div class="container">
                {% include topbar.html %}
                <hr></hr>  
                <div class="ui-content">
                    {{ content }}
                </div>
            </div>
            <div class="to-top">
                <a href="#"><img src="/image/cur.jpg" title="返回顶端" class="to-top-img"></a>
            </div>
            {% if page.isPost %}
            <div class="calendar">
                <span class="year">{{ page.date | date: '%Y' }}</span>
                <span class="day">{{ page.date | date: '%d' }}</span>
                <span class="month">{{ page.date | date: '%B' }}</span>
            </div>
            {% endif %}

        {% include tail.html %}
        </body>
    </html>
