---
layout: default
---
<hr/>

<title>
    好困是个好孩子
</title>
<div class="navbar-inner">
    <h1>{{ page.title }} </h1>
</div>
<div class="well">
    <h3>{{ page.date | date: '%d %b %y' }}</h3>
    <br/>
    <div>
    {{ content }}
</div>
</div>

<div class="well">
    <h2>Related Posts</h2>
    <ul>
        {% for post in site.related_posts limit:3 %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    <hr/>
</div>
<div class="well">
    {% include comment.html %}
</div>
